.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.container-header {
  @extend .container;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 60px;

  @media screen and (min-width: 768px) {
    min-height: 60px;
    width: 0;
  }
}
