body {
  margin: 0;
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  background: #ffffff;
  color: $second-dark-color;
}

body.modal-open {
  overflow: hidden;
}

svg {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
